.button {
  background-color:black;
  color: white;
  font-size: 28px;
}
.button2
{
  background-color:yellow;
  color:black;
  font-size:28px;
  border:none;
}
.ul
{
  font-size:30;
}
.h1
{
  font-size:50;
}
